<section class="container">
    <ul class="socialLinks">
        <li>
            <a href="" target="_blank">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_14_8)">
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M3.33333 30H26.6667C28.5076 30 30 28.5076 30 26.6667V3.33333C30 1.49238 28.5076 0 26.6667 0H3.33333C1.49238 0 0 1.49238 0 3.33333V26.6667C0 28.5076 1.49238 30 3.33333 30Z"
                                fill="#202124"
                        />
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M25.8333 25.8334H21.3815V18.2509C21.3815 16.172 20.5916 15.0102 18.9461 15.0102C17.1561 15.0102 16.2209 16.2192 16.2209 18.2509V25.8334H11.9305V11.3889H16.2209V13.3346C16.2209 13.3346 17.5108 10.9476 20.5761 10.9476C23.6399 10.9476 25.8333 12.8185 25.8333 16.688V25.8334ZM6.81222 9.49753C5.35085 9.49753 4.16666 8.30404 4.16666 6.83211C4.16666 5.36017 5.35085 4.16669 6.81222 4.16669C8.27359 4.16669 9.45707 5.36017 9.45707 6.83211C9.45707 8.30404 8.27359 9.49753 6.81222 9.49753ZM4.59689 25.8334H9.07057V11.3889H4.59689V25.8334Z"
                                fill="white"
                        />
                    </g>
                    <defs>
                        <clipPath id="clip0_14_8">
                            <rect width="30" height="30" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M15.0124 0C6.71094 0 0 6.76041 0 15.124C0 21.8094 4.29993 27.4685 10.2651 29.4714C11.0109 29.622 11.284 29.146 11.284 28.7456C11.284 28.3949 11.2595 27.1931 11.2595 25.9409C7.08337 26.8425 6.21374 24.138 6.21374 24.138C5.54261 22.3853 4.54822 21.9348 4.54822 21.9348C3.18139 21.0083 4.64778 21.0083 4.64778 21.0083C6.16396 21.1085 6.95953 22.5607 6.95953 22.5607C8.30148 24.8642 10.4639 24.2133 11.3338 23.8126C11.458 22.836 11.8559 22.16 12.2784 21.7845C8.94771 21.4339 5.44336 20.1319 5.44336 14.3225C5.44336 12.6699 6.0395 11.3178 6.98412 10.2663C6.83508 9.89079 6.31299 8.33804 7.13346 6.25983C7.13346 6.25983 8.40104 5.85912 11.2592 7.81227C12.4828 7.48121 13.7448 7.3128 15.0124 7.31138C16.28 7.31138 17.5721 7.48685 18.7654 7.81227C21.6238 5.85912 22.8914 6.25983 22.8914 6.25983C23.7118 8.33804 23.1894 9.89079 23.0404 10.2663C24.0099 11.3178 24.5815 12.6699 24.5815 14.3225C24.5815 20.1319 21.0771 21.4087 17.7215 21.7845C18.2685 22.2602 18.7405 23.1615 18.7405 24.5888C18.7405 26.617 18.7159 28.2447 18.7159 28.7453C18.7159 29.146 18.9894 29.622 19.7349 29.4717C25.7 27.4682 29.9999 21.8094 29.9999 15.124C30.0245 6.76041 23.289 0 15.0124 0Z"
                            fill="#202124"
                    />
                </svg>
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M22.6131 0.12915H8.76693C6.62549 0.131447 4.57243 0.983135 3.05821 2.49736C1.54399 4.01158 0.692299 6.06464 0.690002 8.20607V22.0522C0.692299 24.1937 1.54399 26.2467 3.05821 27.761C4.57243 29.2752 6.62549 30.1268 8.76693 30.1292H22.6131C24.7545 30.1268 26.8075 29.2752 28.3218 27.761C29.836 26.2467 30.6877 24.1937 30.69 22.0522V8.20607C30.6877 6.06464 29.836 4.01158 28.3218 2.49736C26.8075 0.983135 24.7545 0.131447 22.6131 0.12915ZM15.69 22.0522C14.3207 22.0522 12.9823 21.6462 11.8438 20.8855C10.7053 20.1247 9.81785 19.0436 9.29389 17.7785C8.76993 16.5134 8.63283 15.1214 8.89996 13.7786C9.16708 12.4356 9.82639 11.202 10.7947 10.2338C11.7629 9.26553 12.9965 8.60623 14.3394 8.33911C15.6823 8.07197 17.0743 8.20907 18.3393 8.73304C19.6044 9.257 20.6856 10.1444 21.4463 11.2829C22.207 12.4214 22.6131 13.7599 22.6131 15.1292C22.6111 16.9647 21.8812 18.7245 20.5832 20.0224C19.2854 21.3203 17.5255 22.0503 15.69 22.0522ZM24.3438 8.20607C24.0015 8.20607 23.6669 8.10457 23.3822 7.91438C23.0977 7.7242 22.8758 7.45389 22.7448 7.13765C22.6139 6.82139 22.5795 6.47339 22.6463 6.13764C22.7131 5.80191 22.878 5.49352 23.12 5.25147C23.362 5.00941 23.6705 4.84457 24.0062 4.77779C24.3419 4.711 24.6899 4.74529 25.0062 4.87628C25.3224 5.00728 25.5928 5.22912 25.7829 5.51373C25.9731 5.79837 26.0746 6.13299 26.0746 6.4753C26.0746 6.93433 25.8923 7.37457 25.5677 7.69914C25.2432 8.02372 24.8028 8.20607 24.3438 8.20607ZM20.3054 15.1292C20.3054 16.042 20.0347 16.9343 19.5276 17.6933C19.0205 18.4523 18.2995 19.0439 17.4562 19.3932C16.6128 19.7426 15.6849 19.834 14.7895 19.6558C13.8943 19.4778 13.0719 19.0381 12.4265 18.3927C11.781 17.7472 11.3414 16.9249 11.1633 16.0296C10.9852 15.1342 11.0766 14.2063 11.426 13.363C11.7752 12.5196 12.3668 11.7987 13.1258 11.2916C13.8848 10.7845 14.7772 10.5138 15.69 10.5138C16.9141 10.5138 18.088 11 18.9535 11.8656C19.8192 12.7311 20.3054 13.905 20.3054 15.1292Z"
                            fill="#202124"
                    />
                </svg>
            </a>
        </li>
    </ul>
    <h6>Tristan Brattinga©, 2024. All rights reserved.</h6>
</section>