<nav>
    <aside class="hamburgerMenu">
        <ul>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#skillSection">Skills</a>
            </li>
            <li>
                <a href="#movies">Favourite Movies</a>
            </li>
            <li>
                <a href="#characters">Characters</a>
            </li>
        </ul>
    </aside>
    <ul>
        <li>
            <a href="/">
                <h1 id="nameLogo">Tristan Brattinga</h1>
            </a>
        </li>
        <li>
            <ul class="menuItems">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#skillSection">Skills</a>
                </li>
                <li>
                    <a href="#movies">Favourite Movies</a>
                </li>
                <li>
                    <a href="#characters">Characters</a>
                </li>
            </ul>
        </li>
        <li>
            <button class="darkModeToggle" aria-label="Toggle Dark Mode">
                <span>
                    <svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.5 12C30.5 12.3978 30.3419 12.7794 30.0606 13.0607C29.7793 13.342 29.3978 13.5 29 13.5H27.5V15C27.5 15.3978 27.3419 15.7794 27.0606 16.0607C26.7793 16.342 26.3978 16.5 26 16.5C25.6021 16.5 25.2206 16.342 24.9393 16.0607C24.658 15.7794 24.5 15.3978 24.5 15V13.5H23C22.6021 13.5 22.2206 13.342 21.9393 13.0607C21.658 12.7794 21.5 12.3978 21.5 12C21.5 11.6022 21.658 11.2206 21.9393 10.9393C22.2206 10.658 22.6021 10.5 23 10.5H24.5V9C24.5 8.60218 24.658 8.22064 24.9393 7.93934C25.2206 7.65804 25.6021 7.5 26 7.5C26.3978 7.5 26.7793 7.65804 27.0606 7.93934C27.3419 8.22064 27.5 8.60218 27.5 9V10.5H29C29.3978 10.5 29.7793 10.658 30.0606 10.9393C30.3419 11.2206 30.5 11.6022 30.5 12ZM18 7.5H18.5V8C18.5 8.39782 18.658 8.77936 18.9393 9.06066C19.2206 9.34196 19.6021 9.5 20 9.5C20.3978 9.5 20.7793 9.34196 21.0606 9.06066C21.3419 8.77936 21.5 8.39782 21.5 8V7.5H22C22.3978 7.5 22.7793 7.34196 23.0606 7.06066C23.3419 6.77936 23.5 6.39782 23.5 6C23.5 5.60218 23.3419 5.22064 23.0606 4.93934C22.7793 4.65804 22.3978 4.5 22 4.5H21.5V4C21.5 3.60218 21.3419 3.22064 21.0606 2.93934C20.7793 2.65804 20.3978 2.5 20 2.5C19.6021 2.5 19.2206 2.65804 18.9393 2.93934C18.658 3.22064 18.5 3.60218 18.5 4V4.5H18C17.6021 4.5 17.2206 4.65804 16.9393 4.93934C16.658 5.22064 16.5 5.60218 16.5 6C16.5 6.39782 16.658 6.77936 16.9393 7.06066C17.2206 7.34196 17.6021 7.5 18 7.5ZM27.4762 18.7975C27.65 18.9992 27.7669 19.2435 27.815 19.5054C27.8631 19.7673 27.8407 20.0372 27.75 20.2875C27.0276 22.2588 25.8204 24.0165 24.2397 25.3982C22.6589 26.78 20.7556 27.7413 18.7054 28.1935C16.6551 28.6457 14.524 28.5742 12.5087 27.9856C10.4934 27.397 8.65881 26.3103 7.17423 24.8257C5.68965 23.3412 4.60292 21.5066 4.01433 19.4912C3.42574 17.4759 3.35424 15.3448 3.80645 13.2946C4.25865 11.2443 5.21999 9.34104 6.60173 7.76031C7.98348 6.17957 9.74112 4.97233 11.7125 4.25C11.9624 4.15868 12.2321 4.13549 12.494 4.18282C12.7559 4.23015 13.0004 4.34628 13.2026 4.51931C13.4048 4.69234 13.5573 4.91604 13.6444 5.16746C13.7316 5.41887 13.7504 5.68896 13.6987 5.95C13.5663 6.6253 13.4998 7.31185 13.5 8C13.5029 10.7839 14.6101 13.4528 16.5786 15.4213C18.5471 17.3898 21.2161 18.497 24 18.5C24.6869 18.4999 25.3721 18.4333 26.0462 18.3013C26.3072 18.2498 26.5771 18.2686 26.8284 18.3558C27.0797 18.443 27.3033 18.5954 27.4762 18.7975ZM23.75 21.5C20.2572 21.4318 16.9264 20.014 14.4562 17.5438C11.986 15.0735 10.5681 11.7428 10.5 8.25C9.37578 9.05128 8.43975 10.0879 7.75702 11.2878C7.07428 12.4877 6.66126 13.8219 6.5467 15.1977C6.43215 16.5734 6.6188 17.9576 7.09368 19.2539C7.56856 20.5502 8.32025 21.7274 9.29642 22.7035C10.2726 23.6797 11.4498 24.4314 12.7461 24.9063C14.0423 25.3812 15.4265 25.5678 16.8023 25.4533C18.178 25.3387 19.5123 24.9257 20.7122 24.2429C21.912 23.5602 22.9487 22.6242 23.75 21.5Z"
                              fill="white" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.5 4.5V4C14.5 3.60218 14.658 3.22064 14.9393 2.93934C15.2206 2.65804 15.6022 2.5 16 2.5C16.3978 2.5 16.7794 2.65804 17.0607 2.93934C17.342 3.22064 17.5 3.60218 17.5 4V4.5C17.5 4.89782 17.342 5.27936 17.0607 5.56066C16.7794 5.84196 16.3978 6 16 6C15.6022 6 15.2206 5.84196 14.9393 5.56066C14.658 5.27936 14.5 4.89782 14.5 4.5ZM24.5 16C24.5 17.6811 24.0015 19.3245 23.0675 20.7223C22.1335 22.1202 20.806 23.2096 19.2528 23.853C17.6996 24.4963 15.9906 24.6646 14.3417 24.3367C12.6929 24.0087 11.1783 23.1992 9.98959 22.0104C8.80085 20.8217 7.9913 19.3071 7.66333 17.6583C7.33535 16.0094 7.50368 14.3004 8.14702 12.7472C8.79037 11.194 9.87984 9.8665 11.2777 8.93251C12.6755 7.99852 14.3189 7.5 16 7.5C18.2536 7.50232 20.4143 8.39859 22.0078 9.99215C23.6014 11.5857 24.4977 13.7464 24.5 16ZM21.5 16C21.5 14.9122 21.1774 13.8488 20.5731 12.9444C19.9687 12.0399 19.1098 11.3349 18.1048 10.9187C17.0998 10.5024 15.9939 10.3935 14.927 10.6057C13.8601 10.8179 12.8801 11.3417 12.1109 12.1109C11.3417 12.8801 10.8179 13.8601 10.6057 14.927C10.3935 15.9939 10.5024 17.0998 10.9187 18.1048C11.3349 19.1098 12.0399 19.9687 12.9444 20.5731C13.8488 21.1774 14.9122 21.5 16 21.5C17.4582 21.4983 18.8562 20.9184 19.8873 19.8873C20.9184 18.8562 21.4983 17.4582 21.5 16ZM6.43875 8.56125C6.57828 8.70078 6.74393 8.81146 6.92623 8.88697C7.10853 8.96249 7.30393 9.00135 7.50125 9.00135C7.69857 9.00135 7.89397 8.96249 8.07627 8.88697C8.25857 8.81146 8.42422 8.70078 8.56375 8.56125C8.70328 8.42172 8.81396 8.25607 8.88947 8.07377C8.96499 7.89147 9.00385 7.69607 9.00385 7.49875C9.00385 7.30143 8.96499 7.10603 8.88947 6.92373C8.81396 6.74143 8.70328 6.57578 8.56375 6.43625L8.06375 5.93625C7.78196 5.65446 7.39976 5.49615 7.00125 5.49615C6.60274 5.49615 6.22054 5.65446 5.93875 5.93625C5.65696 6.21804 5.49865 6.60024 5.49865 6.99875C5.49865 7.39726 5.65696 7.77946 5.93875 8.06125L6.43875 8.56125ZM6.43875 23.4363L5.93875 23.9363C5.79922 24.0758 5.68854 24.2414 5.61303 24.4237C5.53751 24.606 5.49865 24.8014 5.49865 24.9988C5.49865 25.1961 5.53751 25.3915 5.61303 25.5738C5.68854 25.7561 5.79922 25.9217 5.93875 26.0613C6.22054 26.343 6.60274 26.5014 7.00125 26.5014C7.19857 26.5014 7.39397 26.4625 7.57627 26.387C7.75857 26.3115 7.92422 26.2008 8.06375 26.0613L8.56375 25.5613C8.84554 25.2795 9.00385 24.8973 9.00385 24.4988C9.00385 24.1002 8.84554 23.718 8.56375 23.4363C8.28196 23.1545 7.89976 22.9961 7.50125 22.9961C7.10274 22.9961 6.72054 23.1545 6.43875 23.4363ZM24.5 9C24.697 9.00015 24.8922 8.96149 25.0743 8.8862C25.2564 8.81092 25.4218 8.7005 25.5613 8.56125L26.0613 8.06125C26.343 7.77946 26.5014 7.39726 26.5014 6.99875C26.5014 6.60024 26.343 6.21804 26.0613 5.93625C25.7795 5.65446 25.3973 5.49615 24.9988 5.49615C24.6002 5.49615 24.218 5.65446 23.9363 5.93625L23.4363 6.43625C23.2252 6.64605 23.0814 6.91388 23.023 7.20567C22.9646 7.49745 22.9943 7.80002 23.1083 8.07487C23.2224 8.34973 23.4156 8.58445 23.6634 8.74919C23.9112 8.91392 24.2024 9.00123 24.5 9ZM25.5613 23.4387C25.2795 23.157 24.8973 22.9986 24.4988 22.9986C24.1002 22.9986 23.718 23.157 23.4363 23.4387C23.1545 23.7205 22.9961 24.1027 22.9961 24.5012C22.9961 24.8998 23.1545 25.282 23.4363 25.5637L23.9363 26.0637C24.218 26.3455 24.6002 26.5039 24.9988 26.5039C25.3973 26.5039 25.7795 26.3455 26.0613 26.0637C26.343 25.782 26.5014 25.3998 26.5014 25.0012C26.5014 24.6027 26.343 24.2205 26.0613 23.9387L25.5613 23.4387ZM6 16C6 15.6022 5.84196 15.2206 5.56066 14.9393C5.27936 14.658 4.89782 14.5 4.5 14.5H4C3.60218 14.5 3.22064 14.658 2.93934 14.9393C2.65804 15.2206 2.5 15.6022 2.5 16C2.5 16.3978 2.65804 16.7794 2.93934 17.0607C3.22064 17.342 3.60218 17.5 4 17.5H4.5C4.89782 17.5 5.27936 17.342 5.56066 17.0607C5.84196 16.7794 6 16.3978 6 16ZM16 26C15.6022 26 15.2206 26.158 14.9393 26.4393C14.658 26.7206 14.5 27.1022 14.5 27.5V28C14.5 28.3978 14.658 28.7794 14.9393 29.0607C15.2206 29.342 15.6022 29.5 16 29.5C16.3978 29.5 16.7794 29.342 17.0607 29.0607C17.342 28.7794 17.5 28.3978 17.5 28V27.5C17.5 27.1022 17.342 26.7206 17.0607 26.4393C16.7794 26.158 16.3978 26 16 26ZM28 14.5H27.5C27.1022 14.5 26.7206 14.658 26.4393 14.9393C26.158 15.2206 26 15.6022 26 16C26 16.3978 26.158 16.7794 26.4393 17.0607C26.7206 17.342 27.1022 17.5 27.5 17.5H28C28.3978 17.5 28.7794 17.342 29.0607 17.0607C29.342 16.7794 29.5 16.3978 29.5 16C29.5 15.6022 29.342 15.2206 29.0607 14.9393C28.7794 14.658 28.3978 14.5 28 14.5Z"
                              fill="black" />
                    </svg>
                </span>
                <span></span>
            </button>
        </li>
        <li class="hamburgerMenuButton">
            <span></span>
            <span></span>
        </li>
    </ul>
</nav>