<section class="container introduction">
    <article id="dataContainer"><p><%= data.description %></p></article>
    <section>
        <ul>
            <li><img src="/images/me.jpg" alt="" /></li>
            <li><img src="/images/me2.jpg" alt="" /></li>
        </ul>
    </section>
</section>