<section id="about" class="container introduction">
    <article id="dataContainer">
        <p>${personalData.description}</p>
        <p>Some of my hobbies are:</p>
        <ul id="hobbiesList">
        </ul>
    </article>
    <section>
        <ul>
            <li><img src="/images/me.jpg" alt="" /></li>
            <li><img src="/images/me2.jpg" alt="" /></li>
        </ul>
    </section>
</section>