<section id="movies" class="movies container">
    <article>
        <section>
            <ul class="movieImages">
                <% movies?.map(movie => { %>
                    <li>
                        <img src='<%= movie.Poster %>' alt=''>
                    </li>
                <% }) %>
            </ul>
        </section>
        <section>
            <ul class="movieInfos">
                <% movies?.map(movie => { %>
                    <li>
                        <h3>
                            <%= movie.Title %>
                        </h3>
                        <p>
                            <%= movie.Plot %>
                        </p>
                    </li>
                <% }) %>
            </ul>
        </section>
    </article>
    <ul>
        <li>
            <button id="prevButton">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.015 6.98378C23.831 5.79983 22.4255 4.86068 20.8786 4.21993C19.3317 3.57918 17.6737 3.24939 15.9993 3.24939C12.6178 3.24939 9.37481 4.59269 6.98372 6.98378C4.59263 9.37488 3.24933 12.6179 3.24933 15.9994C3.24933 19.3809 4.59263 22.6239 6.98372 25.015C9.37481 27.4061 12.6178 28.7494 15.9993 28.7494C19.3809 28.7494 22.6239 27.4061 25.015 25.015C27.4061 22.6239 28.7494 19.3809 28.7494 15.9994C28.7494 12.6179 27.4061 9.37488 25.015 6.98378ZM23.955 23.955C22.3816 25.5284 20.3771 26.5998 18.1948 27.0339C16.0125 27.468 13.7505 27.2452 11.6948 26.3937C9.63919 25.5422 7.88219 24.1002 6.64603 22.2502C5.40987 20.4001 4.75007 18.2251 4.75007 16C4.75007 13.775 5.40987 11.5999 6.64603 9.74988C7.88219 7.89983 9.63919 6.45789 11.6948 5.6064C13.7505 4.75491 16.0125 4.53212 18.1948 4.96619C20.3771 5.40026 22.3816 6.47171 23.955 8.04503C26.0617 10.1564 27.2449 13.0173 27.2449 16C27.2449 18.9827 26.0617 21.8436 23.955 23.955ZM21.53 12.53L18.0612 16L21.53 19.47C21.6037 19.5387 21.6628 19.6215 21.7038 19.7135C21.7447 19.8055 21.7668 19.9048 21.7686 20.0055C21.7703 20.1062 21.7518 20.2062 21.7141 20.2996C21.6764 20.393 21.6202 20.4779 21.549 20.5491C21.4778 20.6203 21.393 20.6764 21.2996 20.7142C21.2062 20.7519 21.1062 20.7704 21.0055 20.7686C20.9047 20.7668 20.8054 20.7448 20.7134 20.7038C20.6214 20.6628 20.5386 20.6037 20.47 20.53L16.47 16.53C16.3295 16.3894 16.2506 16.1988 16.2506 16C16.2506 15.8013 16.3295 15.6107 16.47 15.47L20.47 11.47C20.6121 11.3376 20.8002 11.2654 20.9945 11.2689C21.1888 11.2723 21.3742 11.351 21.5116 11.4884C21.649 11.6258 21.7277 11.8112 21.7311 12.0055C21.7346 12.1998 21.6625 12.3879 21.53 12.53ZM14.53 12.53L11.0612 16L14.53 19.47C14.6037 19.5387 14.6628 19.6215 14.7038 19.7135C14.7447 19.8055 14.7668 19.9048 14.7686 20.0055C14.7703 20.1062 14.7518 20.2062 14.7141 20.2996C14.6764 20.393 14.6202 20.4779 14.549 20.5491C14.4778 20.6203 14.393 20.6764 14.2996 20.7142C14.2062 20.7519 14.1062 20.7704 14.0055 20.7686C13.9047 20.7668 13.8054 20.7448 13.7134 20.7038C13.6214 20.6628 13.5386 20.6037 13.47 20.53L9.46997 16.53C9.32952 16.3894 9.25063 16.1988 9.25063 16C9.25063 15.8013 9.32952 15.6107 9.46997 15.47L13.47 11.47C13.6121 11.3376 13.8002 11.2654 13.9945 11.2689C14.1888 11.2723 14.3742 11.351 14.5116 11.4884C14.649 11.6258 14.7277 11.8112 14.7311 12.0055C14.7346 12.1998 14.6625 12.3879 14.53 12.53Z"
                          fill="white" />
                </svg>
            </button>
        </li>
        <% movies.forEach(movie => { %>
            <li>
                <span></span>
            </li>
        <% }) %>
        <li>
            <button id="nextButton">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.015 6.98378C23.831 5.79983 22.4255 4.86068 20.8786 4.21993C19.3317 3.57918 17.6737 3.24939 15.9993 3.24939C12.6178 3.24939 9.37481 4.59269 6.98372 6.98378C4.59263 9.37488 3.24933 12.6179 3.24933 15.9994C3.24933 19.3809 4.59263 22.6239 6.98372 25.015C9.37481 27.4061 12.6178 28.7494 15.9993 28.7494C19.3809 28.7494 22.6239 27.4061 25.015 25.015C27.4061 22.6239 28.7494 19.3809 28.7494 15.9994C28.7494 12.6179 27.4061 9.37488 25.015 6.98378ZM23.955 23.955C22.3816 25.5284 20.3771 26.5998 18.1948 27.0339C16.0125 27.468 13.7505 27.2452 11.6948 26.3937C9.63919 25.5422 7.88219 24.1002 6.64603 22.2502C5.40987 20.4001 4.75007 18.2251 4.75007 16C4.75007 13.775 5.40987 11.5999 6.64603 9.74988C7.88219 7.89983 9.63919 6.45789 11.6948 5.6064C13.7505 4.75491 16.0125 4.53212 18.1948 4.96619C20.3771 5.40026 22.3816 6.47171 23.955 8.04503C26.0617 10.1564 27.2449 13.0173 27.2449 16C27.2449 18.9827 26.0617 21.8436 23.955 23.955ZM15.53 15.47C15.6704 15.6107 15.7493 15.8013 15.7493 16C15.7493 16.1988 15.6704 16.3894 15.53 16.53L11.53 20.53C11.3878 20.6625 11.1998 20.7346 11.0055 20.7312C10.8111 20.7278 10.6258 20.6491 10.4884 20.5117C10.3509 20.3742 10.2722 20.1889 10.2688 19.9946C10.2654 19.8003 10.3375 19.6122 10.47 19.47L13.9387 16L10.47 12.53C10.3375 12.3879 10.2654 12.1998 10.2688 12.0055C10.2722 11.8112 10.3509 11.6258 10.4884 11.4884C10.6258 11.351 10.8111 11.2723 11.0055 11.2689C11.1998 11.2654 11.3878 11.3376 11.53 11.47L15.53 15.47ZM22.53 15.47C22.6704 15.6107 22.7493 15.8013 22.7493 16C22.7493 16.1988 22.6704 16.3894 22.53 16.53L18.53 20.53C18.3878 20.6625 18.1998 20.7346 18.0055 20.7312C17.8112 20.7278 17.6258 20.6491 17.4884 20.5117C17.3509 20.3742 17.2722 20.1889 17.2688 19.9946C17.2654 19.8003 17.3375 19.6122 17.47 19.47L20.9387 16L17.47 12.53C17.3375 12.3879 17.2654 12.1998 17.2688 12.0055C17.2722 11.8112 17.3509 11.6258 17.4884 11.4884C17.6258 11.351 17.8112 11.2723 18.0055 11.2689C18.1998 11.2654 18.3878 11.3376 18.53 11.47L22.53 15.47Z"
                          fill="white" />
                </svg>
            </button>
        </li>
    </ul>
</section>