<section id="skillSection" class="container skillSection">
    <ul class="skillGrid">
        <li class="skillCard">
            <svg width="50" height="50" viewBox="0 0 52 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M25.9071 0.910767C19.1995 0.910767 15.0084 4.24432 13.3308 10.9114C15.8463 7.57787 18.7806 6.32804 22.1339 7.16093C24.0471 7.63603 25.4152 9.01597 26.9282 10.5438C29.3944 13.0316 32.2489 15.9108 38.4823 15.9108C45.1888 15.9108 49.3809 12.5772 51.0575 5.9111C48.5431 9.24465 45.6087 10.4945 42.2555 9.6606C40.3413 9.18551 38.9732 7.80556 37.4601 6.27875C34.994 3.78894 32.1405 0.910767 25.9071 0.910767ZM13.3308 15.9108C6.62429 15.9108 2.43222 19.2443 0.755585 25.9114C3.27103 22.5779 6.20538 21.328 9.55766 22.1609C11.4718 22.636 12.84 24.016 14.353 25.5438C16.8191 28.0316 19.6727 30.9108 25.9071 30.9108C32.6136 30.9108 36.8057 27.5782 38.4823 20.9111C35.9668 24.2446 33.0325 25.4945 29.6792 24.6616C27.766 24.1855 26.3979 22.8056 24.8849 21.2788C22.4187 18.7909 19.5642 15.9108 13.3308 15.9108Z"
                        fill="#38BDF8"
                />
            </svg>
        </li>
        <li class="skillCard">
            <svg width="50" height="50" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M27.1278 0.910767H2.98721C1.36919 0.910767 0.0575256 2.22243 0.0575256 3.84045V27.9811C0.0575256 29.5991 1.36919 30.9108 2.98721 30.9108H27.1278C28.7459 30.9108 30.0575 29.5991 30.0575 27.9811V3.84045C30.0575 2.22243 28.7459 0.910767 27.1278 0.910767Z"
                        fill="#3178C6"
                />
                <path
                        d="M27.1278 0.910767H2.98721C1.36919 0.910767 0.0575256 2.22243 0.0575256 3.84045V27.9811C0.0575256 29.5991 1.36919 30.9108 2.98721 30.9108H27.1278C28.7459 30.9108 30.0575 29.5991 30.0575 27.9811V3.84045C30.0575 2.22243 28.7459 0.910767 27.1278 0.910767Z"
                        fill="#3178C6"
                />
                <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M18.6282 24.7833V27.7165C19.105 27.961 19.669 28.1443 20.3201 28.2665C20.9712 28.3887 21.6574 28.4498 22.3788 28.4498C23.0818 28.4498 23.7497 28.3826 24.3824 28.2481C25.0152 28.1137 25.57 27.8922 26.0468 27.5836C26.5237 27.275 26.9012 26.8717 27.1793 26.3736C27.4575 25.8756 27.5966 25.2599 27.5966 24.5266C27.5966 23.9949 27.5171 23.529 27.3582 23.1288C27.1992 22.7285 26.97 22.3725 26.6704 22.0609C26.3709 21.7492 26.0117 21.4696 25.5929 21.2221C25.1741 20.9746 24.7019 20.7409 24.1761 20.5209C23.791 20.362 23.4456 20.2077 23.1399 20.058C22.8342 19.9083 22.5744 19.7555 22.3604 19.5997C22.1464 19.4439 21.9814 19.2789 21.8652 19.1047C21.7491 18.9305 21.691 18.7335 21.691 18.5134C21.691 18.3118 21.743 18.13 21.8469 17.9681C21.9508 17.8061 22.0976 17.6671 22.2871 17.551C22.4766 17.4349 22.7089 17.3447 22.984 17.2806C23.2591 17.2164 23.5648 17.1844 23.901 17.1844C24.1455 17.1844 24.4038 17.2027 24.6759 17.2393C24.9479 17.276 25.2215 17.3325 25.4966 17.4089C25.7717 17.4853 26.0392 17.5816 26.299 17.6976C26.5588 17.8138 26.7988 17.9482 27.0189 18.101V15.3602C26.5726 15.1891 26.085 15.0623 25.5562 14.9798C25.0274 14.8973 24.4206 14.8561 23.736 14.8561C23.039 14.8561 22.3788 14.931 21.7552 15.0807C21.1316 15.2304 20.583 15.4641 20.1091 15.7819C19.6353 16.0997 19.2609 16.5045 18.9858 16.9964C18.7107 17.4883 18.5732 18.0765 18.5732 18.7609C18.5732 19.6348 18.8253 20.3804 19.3297 20.9976C19.834 21.6148 20.5997 22.1372 21.6268 22.565C22.0303 22.73 22.4063 22.8919 22.7548 23.0508C23.1032 23.2097 23.4043 23.3747 23.658 23.5458C23.9117 23.7169 24.1119 23.9033 24.2587 24.105C24.4054 24.3066 24.4788 24.5358 24.4788 24.7925C24.4788 24.9819 24.4329 25.1576 24.3412 25.3195C24.2495 25.4815 24.1104 25.622 23.9239 25.7412C23.7375 25.8603 23.5052 25.9535 23.227 26.0207C22.9488 26.088 22.6233 26.1215 22.2504 26.1215C21.6146 26.1215 20.9849 26.01 20.3613 25.787C19.7378 25.564 19.16 25.2294 18.6282 24.7833ZM13.697 17.5562H17.4599V15.149H6.97159V17.5562H10.7161V28.274H13.697V17.5562Z"
                        fill="white"
                />
            </svg>
        </li>
        <li class="skillCard">
            <svg width="50" height="50" viewBox="0 0 25 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M1.3719 28.5548L0.442565 3.79211C0.411872 2.97429 1.03894 2.2812 1.85574 2.23015L22.9181 0.913755C23.7495 0.861793 24.4656 1.49365 24.5176 2.32505C24.5196 2.35638 24.5205 2.38775 24.5205 2.41914V29.4024C24.5205 30.2355 23.8452 30.9108 23.0122 30.9108C22.9896 30.9108 22.9671 30.9103 22.9445 30.9092L2.81149 30.005C2.02739 29.9698 1.40134 29.3391 1.3719 28.5548Z"
                        fill="#FF4785"
                />
                <mask
                        id="mask0_54_22"
                        style= "mask-type: luminance"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="25"
                        height="31"
                >
                <path
                        d="M1.3719 28.5548L0.442565 3.79211C0.411872 2.97429 1.03894 2.2812 1.85574 2.23015L22.9181 0.913755C23.7495 0.861793 24.4656 1.49365 24.5176 2.32505C24.5196 2.35638 24.5205 2.38775 24.5205 2.41914V29.4024C24.5205 30.2355 23.8452 30.9108 23.0122 30.9108C22.9896 30.9108 22.9671 30.9103 22.9445 30.9092L2.81149 30.005C2.02739 29.9698 1.40134 29.3391 1.3719 28.5548Z"
                        fill="white"
                />
                </mask>
                <g mask="url(#mask0_54_22)">
                    <path
                            d="M18.222 4.59824L18.3659 1.13803L21.2584 0.910767L21.383 4.47916C21.3874 4.60335 21.2902 4.70754 21.166 4.71188C21.1128 4.71373 21.0607 4.69669 21.0189 4.66376L19.9035 3.78506L18.5828 4.78685C18.4838 4.86195 18.3427 4.84257 18.2676 4.74357C18.236 4.7019 18.2199 4.65051 18.222 4.59824ZM14.5228 12.2182C14.5228 12.805 18.4756 12.5238 19.0062 12.1115C19.0062 8.11541 16.862 6.0155 12.9355 6.0155C9.00907 6.0155 6.80914 8.14808 6.80914 11.347C6.80914 16.9183 14.3279 17.0249 14.3279 20.0639C14.3279 20.9169 13.9102 21.4234 12.9912 21.4234C11.7938 21.4234 11.3204 20.8119 11.3761 18.7326C11.3761 18.2815 6.80914 18.1409 6.6699 18.7326C6.31535 23.7714 9.45462 25.2248 13.0469 25.2248C16.5278 25.2248 19.2568 23.3694 19.2568 20.0106C19.2568 14.0393 11.6267 14.1993 11.6267 11.2403C11.6267 10.0407 12.5178 9.8808 13.0469 9.8808C13.6039 9.8808 14.6064 9.97897 14.5228 12.2182Z"
                            fill="white"
                    />
                </g>
            </svg>
        </li>
        <li class="skillCard">
            <svg width="50" height="50" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M15.2495 18.5556C16.7102 18.5556 17.8944 17.3715 17.8944 15.9107C17.8944 14.45 16.7102 13.2659 15.2495 13.2659C13.7888 13.2659 12.6046 14.45 12.6046 15.9107C12.6046 17.3715 13.7888 18.5556 15.2495 18.5556Z"
                        fill="#61DAFB"
                />
                <path
                        d="M15.2495 21.3295C23.0875 21.3295 29.4415 18.9035 29.4415 15.9108C29.4415 12.9181 23.0875 10.492 15.2495 10.492C7.41149 10.492 1.05753 12.9181 1.05753 15.9108C1.05753 18.9035 7.41149 21.3295 15.2495 21.3295Z"
                        stroke="#61DAFB"
                        stroke-width="1.5"
                />
                <path
                        d="M10.5567 18.6201C14.4757 25.4081 19.7537 29.6977 22.3455 28.2014C24.9372 26.705 23.8613 19.9893 19.9423 13.2014C16.0233 6.41346 10.7453 2.1238 8.15351 3.62014C5.56176 5.11649 6.63772 11.8322 10.5567 18.6201Z"
                        stroke="#61DAFB"
                        stroke-width="1.5"
                />
                <path
                        d="M10.5567 13.2014C6.63772 19.9893 5.56176 26.705 8.15352 28.2014C10.7453 29.6977 16.0233 25.4081 19.9423 18.6201C23.8613 11.8322 24.9372 5.1165 22.3455 3.62015C19.7537 2.1238 14.4757 6.41347 10.5567 13.2014Z"
                        stroke="#61DAFB"
                        stroke-width="1.5"
                />
            </svg>
        </li>
        <li class="skillCard">
            <svg width="50" height="50" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M14.7755 0.91884C14.711 0.924704 14.5058 0.945229 14.3211 0.959889C10.0607 1.344 6.07006 3.64278 3.54258 7.17598C2.13516 9.14051 1.235 11.3689 0.894872 13.7293C0.774655 14.5532 0.759995 14.7966 0.759995 15.9137C0.759995 17.0308 0.774655 17.2742 0.894872 18.0981C1.71 23.7307 5.71821 28.4632 11.1544 30.2166C12.1278 30.5303 13.1541 30.7444 14.3211 30.8734C14.7755 30.9232 16.7401 30.9232 17.1945 30.8734C19.2089 30.6505 20.9154 30.1521 22.5984 29.293C22.8565 29.161 22.9063 29.1258 22.8711 29.0965C22.8477 29.0789 21.7481 27.6041 20.4287 25.8213L18.0302 22.5813L15.0248 18.1333C13.371 15.6879 12.0105 13.6882 11.9988 13.6882C11.9871 13.6853 11.9754 15.6615 11.9695 18.0747C11.9607 22.2999 11.9578 22.4699 11.905 22.5696C11.8287 22.7133 11.7701 22.7719 11.647 22.8364C11.5531 22.8834 11.471 22.8922 11.0283 22.8922H10.521L10.3861 22.8071C10.2982 22.7514 10.2337 22.6781 10.1897 22.5931L10.1281 22.4611L10.134 16.5822L10.1428 10.7004L10.2337 10.586C10.2806 10.5245 10.3803 10.4453 10.4507 10.4072C10.5709 10.3485 10.6178 10.3427 11.125 10.3427C11.7232 10.3427 11.8229 10.3661 11.9783 10.5362C12.0223 10.5831 13.6496 13.0344 15.5965 15.987C17.5435 18.9397 20.2058 22.9713 21.5135 24.9505L23.8886 28.5482L24.0088 28.469C25.0731 27.7771 26.1991 26.7919 27.0904 25.7656C28.9875 23.5871 30.2102 20.9306 30.6207 18.0981C30.7409 17.2742 30.7556 17.0308 30.7556 15.9137C30.7556 14.7966 30.7409 14.5532 30.6207 13.7293C29.8056 8.09667 25.7974 3.36423 20.3612 1.61082C19.4024 1.30002 18.382 1.08597 17.2385 0.956957C16.957 0.927636 15.0189 0.895383 14.7755 0.91884ZM20.9154 9.99082C21.0561 10.0612 21.1705 10.1961 21.2115 10.3368C21.235 10.413 21.2409 12.0433 21.235 15.7173L21.2262 20.9892L20.2967 19.5642L19.3643 18.1392V14.3069C19.3643 11.8293 19.376 10.4365 19.3936 10.3691C19.4405 10.2049 19.5432 10.0759 19.6839 9.99962C19.8041 9.93804 19.8481 9.93218 20.3084 9.93218C20.7424 9.93218 20.8186 9.93804 20.9154 9.99082Z"
                        fill="black"
                />
            </svg>
        </li>
    </ul>
</section>