* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size: 16px;
    --primary-font: 'Raleway', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: var(--font-size); /*Variabele om de base font size in te stellen. In het geval van Chrome 1rem.*/
    overflow-x: hidden;
}

body {
    background-color: #35393C;
    color: white;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--primary-font);
    height: 200vh;
}

li {
    list-style-type: none;
}

h1 {
    font-family: Ailerons, sans-serif;
    font-size: 2rem;
}


/******************/
/* HELPER STYLING */
/******************/

.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin: 2rem auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/******************/
/* HEADER STYLING */
/******************/

header {
    padding: 0.5rem 1.25rem;
}

header nav {
    width: 100%;
}

header nav h1 {
    white-space: nowrap;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav ul li {
    width: calc(100%/3);
}

header nav ul li:nth-child(3) {
    display: flex;
    justify-content: end;
}

header li a {
    font-weight: 600;
    position: relative;
}

header li a::after {
    display: flex;
    background-color: white;
    width: 100%;
    height: 1px;
    position: absolute;
}

.hamburgerMenu {
    display: none;
    padding: 20px 40px;
}

.hamburgerMenuButton {
    display: none;
}

.menuItems li {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .menuItems {
        display: none;
    }

    header nav h1 {
        font-size: 1rem;

    }

    .hamburgerMenuButton {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
        z-index: 20;
    }

    .hamburgerMenuButton span {
        display: block;
        width: 2rem;
        height: 1px;
        background-color: white;
        transition: all 0.5s ease-in-out;
    }

    .hamburgerMenuButton span:last-child {
        margin-left: 0.5rem;
    }

    header nav button {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: grey;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }

    .hamburgerMenu.slideOut {
        transform: translateX(0);
    }

    .hamburgerMenu ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .hamburgerMenuButton.menuOpen span:first-child {
        transform: rotate(405deg);
        position: absolute;
        width: 1.5rem;
        right: 0;
    }

    .hamburgerMenuButton.menuOpen span:last-child {
        transform: rotate(-405deg);
        position: absolute;
        width: 1.5rem;
        right: 0;
    }
}

@media (max-width: 375px) {
    .hamburgerMenu {
        width: 100%;
    }
}

/*******************/
/* DARKMODE TOGGLE STYLING */
/*******************/

.darkModeToggle {
    background:0;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 60px;
    position: relative;
    border: none;
}
.darkModeToggle:focus {
    outline:none; /* Not ideal for accessibility */
}
.darkModeToggle span:nth-child(1) {
    position: absolute;
    top:0;
    left:0;
    width: 60px;
    height:30px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}
.darkModeToggle span:nth-child(2) {
    position: absolute;
    top:5px;
    left:5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.darkModeToggle span:nth-child(1) svg:nth-child(1) {
    position: absolute;
    left: 5px;
    top: 7px;
}

.darkModeToggle span:nth-child(1) svg:nth-child(2) {
    position: absolute;
    right: 5px;
    top: 7px;
}

body {
    background-color: black;
    transition: background-color .3s;
}
body[light-mode="light"] {
    background-color: white;
    color: black;
}
body[light-mode="light"] .darkModeToggle span:nth-child(1){
    background-color: black;
    color: white;
}
body[light-mode="light"] .darkModeToggle span:nth-child(2) {
    left: 35px;
    background-color: white;
}

/********************/
/* CAROUSEL STYLING */
/********************/

.carousel {
    display: flex;
    align-items: center;
    overflow: auto;
}

.carousel img {
    width: 100%;
    height: auto;
}

/********************************/
/* SCROLL TO TOP BUTTON STYLING */
/********************************/

.scrollToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

.scrollToTop.hidden {
    display: none;
}

.scrollToTop:hover {
    animation: wiggle 0.5s linear infinite;
}

body[light-mode="light"] .scrollToTop {
    background-color: black;
}

body[light-mode="light"] .scrollToTop svg path {
    fill: white;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}

/********************************/
/* SCROLL TO TOP BUTTON STYLING */
/********************************/

.settingsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
}

.settingsButton.hidden {
    display: none;
}

.settingsButton:hover {
    animation: wiggle 0.5s linear infinite;
}

body[light-mode="light"] .settingsButton {
    background-color: black;
}

body[light-mode="light"] .settingsButton svg path {
    fill: white;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}

/**********************/
/* MOVIE CARD STYLING */
/**********************/

.card {
    border-radius: 30px;
    border: 1px solid white;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow-y: hidden;
}

.column {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.column-reverse {
    transform: translateY(calc(-100% + 100vh));
    flex-direction: column-reverse;
}

@keyframes adjust-position {
    /* Start position: shift entire column up, but not so that it goes out of view */
    from {
        transform: translateY(calc(-100% + 100vh));
    }
    /* End position: shift entire column down, but not so that it goes out of view */
    to {
        transform: translateY(calc(100% - 100vh));
    }
}

.column-reverse {
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        overflow-y: hidden;
    }
}