* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size: 16px;
    --primary-font: 'Raleway', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: var(--font-size); /*Variabele om de base font size in te stellen. In het geval van Chrome 1rem.*/
    overflow-x: hidden;
}

body {
    background-color: #35393C;
    color: white;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--primary-font);
}

li {
    list-style-type: none;
}

h1 {
    font-family: Ailerons, sans-serif;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

body[light-mode="light"] a {
    color: black;
}

/******************/
/* HELPER STYLING */
/******************/

.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/******************/
/* HEADER STYLING */
/******************/

header {
    padding: 0.5rem 1.25rem;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 20;
    transition-duration: 0.3s;
}

body[light-mode="light"] header {
    background-color: white;
}

header nav {
    width: 100%;
}

header nav h1 {
    white-space: nowrap;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

header li a {
    font-weight: 600;
    position: relative;
}

header > nav > ul > li:nth-child(3) {
    width: 310px;
    display: flex;
    justify-content: end;
}

header li a::after {
    display: flex;
    background-color: white;
    width: 100%;
    height: 1px;
    position: absolute;
}

.hamburgerMenu {
    display: none;
    padding: 20px 40px;
}

.hamburgerMenuButton {
    display: none;
}

.menuItems {
    gap: 40px;
    position: relative;
}

.menuItems li {
    white-space: nowrap;
    position: relative;
}

.menuItems a::after {
    display: none;
    content: '';
    position: absolute;
    bottom: 0;
    background-color: white;
    left: 0;
    right: 0;
    height: 1px;
    transform: scaleX(0);
    transition: all 13s ease-in-out;
    transform-origin: left;
}

.menuItems a:hover::after {
    display: block;
    transform: scale(100%);
}

body[light-mode="light"] .menuItems a::after {
    background-color: black;
}

.menuItems a {
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 850px) {
    .menuItems {
        display: none;
    }

    header nav h1 {
        font-size: 1.5rem;
    }

    .hamburgerMenuButton {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
        z-index: 20;
    }

    .hamburgerMenuButton span {
        display: block;
        width: 2rem;
        height: 1px;
        background-color: white;
        transition: all 0.5s ease-in-out;
    }

    .hamburgerMenuButton span:last-child {
        margin-left: 0.5rem;
    }

    header nav button {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: grey;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }

    .hamburgerMenu.slideOut {
        transform: translateX(0);
    }

    .hamburgerMenu ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .hamburgerMenuButton.menuOpen span:first-child {
        transform: rotate(405deg);
        position: absolute;
        width: 1.5rem;
        right: 0;
    }

    .hamburgerMenuButton.menuOpen span:last-child {
        transform: rotate(-405deg);
        position: absolute;
        width: 1.5rem;
        right: 0;
    }

    body[light-mode="light"] .hamburgerMenuButton span {
        background-color: black;
    }

    body[light-mode="light"] .hamburgerMenuButton.menuOpen span {
        background-color: white;
    }
}

@media (max-width: 375px) {
    .hamburgerMenu {
        width: 100%;
    }
}

/*******************/
/* DARKMODE TOGGLE STYLING */
/*******************/

.darkModeToggle {
    background: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 60px;
    position: relative;
    border: none;
}

.darkModeToggle:focus {
    outline: none; /* Not ideal for accessibility */
}

.darkModeToggle span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.darkModeToggle span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.darkModeToggle span:nth-child(1) svg:nth-child(1) {
    position: absolute;
    left: 5px;
    top: 7px;
}

.darkModeToggle span:nth-child(1) svg:nth-child(2) {
    position: absolute;
    right: 5px;
    top: 7px;
}

body {
    background-color: black;
    transition: background-color .3s;
}

body[light-mode="light"] {
    background-color: white;
    color: black;
}

body[light-mode="light"] .darkModeToggle span:nth-child(1) {
    background-color: #35393C;
    color: white;
}

body[light-mode="light"] .darkModeToggle span:nth-child(2) {
    left: 35px;
    background-color: white;
}

/********************/
/* CAROUSEL STYLING */
/********************/

.carousel {
    display: flex;
    align-items: center;
    overflow: auto;
}

.carousel img {
    width: 100%;
    height: auto;
}

/********************************/
/* SCROLL TO TOP BUTTON STYLING */
/********************************/

.scrollToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
}

.scrollToTop.hidden {
    display: none;
}

.scrollToTop:hover {
    animation: wiggle 0.5s linear infinite;
}

body[light-mode="light"] .scrollToTop {
    background-color: black;
}

body[light-mode="light"] .scrollToTop svg path {
    fill: white;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}



@media (max-width: 768px) {
    .scrollToTop {
        bottom: 1rem;
        right: 1rem;
    }
}

/********************************/
/* SCROLL TO TOP BUTTON STYLING */
/********************************/

.mobileDarkModeToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: fixed;
    bottom: 1.25rem;
    left: 1.25rem;
    cursor: pointer;
}

.mobileDarkModeToggle.hidden {
    display: none;
}

.mobileDarkModeToggle:hover {
    animation: wiggle 0.5s linear infinite;
}

body[light-mode="light"] .mobileDarkModeToggle {
    background-color: black;
}

body[light-mode="light"] .mobileDarkModeToggle svg path {
    fill: white;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}

@media (max-width: 768px) {
    .mobileDarkModeToggle {
        bottom: 1rem;
        left: 1rem;
    }
}

/**********************/
/* MOVIE CARD STYLING */
/**********************/

.card {
    border-radius: 30px;
    border: 1px solid white;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow-y: hidden;
}

.column {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.column-reverse {
    transform: translateY(calc(-100% + 100vh));
    flex-direction: column-reverse;
}

@keyframes adjust-position {
    /* Start position: shift entire column up, but not so that it goes out of view */
    from {
        transform: translateY(calc(-100% + 100vh));
    }
    /* End position: shift entire column down, but not so that it goes out of view */
    to {
        transform: translateY(calc(100% - 100vh));
    }
}

.column-reverse {
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        overflow-y: hidden;
    }
}

/************************/
/* INTRODUCTION STYLING */
/************************/

.introduction {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    display: flex;
    gap: 40px;
    position: relative;
}

.introduction article {
    width: 50%;
    position: sticky;
    top: 86.5px;
    height: fit-content;
}

.introduction section {
    width: 50%;
}

.introduction img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introduction > article p:nth-child(2) {
    margin-top: 20px;
}

.introduction > article ul li  {
    list-style-type: circle;
    list-style-position: inside;
    text-transform: capitalize;
}

@media (max-width: 768px){
    .introduction {
        flex-direction: column;
    }

    .introduction section {
        width: 100%;
    }

    .introduction section ul {
        display: flex;
    }

    .introduction article {
        width: 100%;
        position: static;
    }

    .introduction {
        font-size: 1rem;
    }
}

/******************/
/* FOOTER STYLING */
/******************/

footer {
    padding: 2rem 0 1rem;
}

footer h6 {
    font-family: Ailerons, sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.socialLinks {
    display: flex;
    gap: 10px;
}

.socialLinks li a {
    background-color: white;
    border-radius: 10px;
    padding: 6px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinks li a:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

@media (max-width: 768px){
    footer h6 {
        font-size: 1rem;
        max-width: 250px;
    }
}

/*********************/
/* SKILL CARD STYLING */
/*********************/

#skillSection {
    margin: 20px 0;
}

.skillCard {
    background-color: #35393C;
    padding: 15px;
    border-radius: 50px;
}

.skillCard:nth-child(odd) {
    transform: translateY(50%);
    animation: bounce 4s ease-in-out infinite;
}

.skillCard:nth-child(even) {
    transform: translateY(-50%);
    animation: bounce-reverse 4s ease-in-out infinite;
}

.skillGrid {
    display: flex;
    gap: 20px;
    animation: slide 20s infinite linear;
}

@keyframes slide {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
}

@keyframes bounce-reverse {
    0%, 100% {
        transform: translateY(50%);
    }
    50% {
        transform: translateY(-50%);
    }
}

/******************/
/* MOVIES STYLING */
/******************/

.movies {
    /*Toegepast door */
    scroll-margin-top: 40px;
    /* Kevin .... */
}

.movies > article {
    display: flex;
    gap: 40px;
    font-size: 1.5rem;
    align-items: center;
}

.movies > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.movies > ul li:nth-child(1), .movies > ul li:nth-child(6) {
    width: 32px;
    height: 32px;
}

.movies > ul button {
    appearance: none;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.movies > ul button:hover {
    transform: scale(115%);
}

.movies > ul button:active {
    transform: scale(95%);
}

.movies > ul li span {
    display: block;
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 40px;
}

.movies > ul li span.active {
    background-color: white;
}

.movies article section {
    width: 50%;
    overflow-x: hidden;
}

.movieImages {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 20px;
    scroll-snap-type: x mandatory;
}

.movieImages::-webkit-scrollbar, .movieInfos::-webkit-scrollbar {
    display: none;
}

.movieImages li {
    width: 100%;
    scroll-snap-align: start;
}

.movieImages li img {
    width: 600px;
    height: 100%;
}

.movieInfos {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.movieInfos li {
    width: 100%;
    scroll-snap-align: start;
}

.movieInfos li p {
    width: 600px;
    margin-top: 20px;
}

body[light-mode="light"] .movies > ul button svg path {
    fill: black;
}

@media (max-width: 768px) {
    .movies > article {
        flex-direction: column;
        font-size: 1rem;
        gap: 20px;
    }

    .movies > article p, .movieImages li img {
        margin-bottom: 20px;
    }

    .movies article section {
        width: 100%;
    }

    .movieInfos li p  {
        width: 300px;
    }

    .movieImages li img {
        width: 300px;
        height: 100%;
        max-height: 450px;
    }
}